.search-container {
  background-color: #ebebf5;
  padding: 2vh;
  margin: auto;
  max-width: 500px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px #0000005e;
}
.button {
    font-family: acme;
    border-radius: 50px;
    margin-left: 3vw;
    padding: 1vw 2vw; 
}
.select {
    border-radius: 30px;
    font-family: acme;
    margin-right: 3vw;
    padding: 1vw 1.5vw; 
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 2vw;
}
.select {
  font-size: 2vw;
}
}